extends adminlayout

block content
  nav.navbar.navbar-default.navbar-fixed-top.sidebar(role='navigation')
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-sidebar-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          
        // Collect the nav links, forms, and other content for toggling
        #bs-sidebar-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/admin/adminindex')
                | Home
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home(style='font-size:16px;')
            li
              a(href='/admin/adminindex/students')
                | Students
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user(style='font-size:16px;')
            li
              a(href='/admin/adminindex/semester')
                | Semester Wise
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-envelope(style='font-size:16px;')
            li
              a(href='/admin/adminindex/teacher')
                | Add Teacher
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-envelope(style='font-size:16px;')
            li
              a(href='/admin/adminindex/course')
                | Add Course
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-envelope(style='font-size:16px;')
            li
              a(href='/admin/adminindex/report')
                | Feedback
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-envelope(style='font-size:16px;')
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Settings 
                span.caret
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-cog(style='font-size:16px;')
              ul.dropdown-menu.forAnimate(role='menu')
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
                li.divider
                li
                  a(href='#') One more separated link
  !=messages()
     ul.errors
            if errors
                each error, i in errors
                    .alert.alert-dismissible.alert-danger
                        button.close(type='button', data-dismiss='alert') ×
                              #{error.msg}
        form.well(method='post', action='course', enctype="multipart/form-data")
          legend Add Course
            .form-group
                label Course Number:
                input.form-control(name='number', type='text')
            .form-group
                label Course Name:
                input.form-control(name='title', type='text')
            .form-group
                label Semester:
                select.form-control(name='semester')
                  each semester, i in semesters
                    option(value='#{semester.title}') #{semester.title}
            .form-group
                label Teacher
                select.form-control(name='teacher')
                  each teacher , i in teachers
                     option(value='#{teacher.title}') #{teacher.title} ---> Teacher Branch: #{teacher.branch}
            .form-group
                label.col-md-2.control-label(for='branch') Branch
                .col-md-10
                   select#branch.form-control(name='branch')
                      option(value='CSE') CSE
                      option(value='ECE') ECE
            input.btn.btn-default(name='submit', type='submit', value='Save')

        if courses
          table.table.table-striped.table-hover.tablestyle
           thead
            tr.info
              th Id
              th Course Id
              th Course Name
              th Semester
              th Teacher
              th Branch
           tbody
            each course, i in courses
              tr.success
               td #{course._id}
               td #{course.number}
               td #{course.title}
               td #{course.semester}
               td #{course.teacher}
               td #{course.branch}