extends layout


block content
  nav.navbar.navbar-default.navbar-fixed-top.sidebar(role='navigation')
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-sidebar-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          
        // Collect the nav links, forms, and other content for toggling
        #bs-sidebar-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/')
                | Home
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home(style='font-size:16px;')
            li
              a(href='#')
                | Elective Selection
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user(style='font-size:16px;')
            li
              a(href='/feedback')
                | Feedback
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-envelope(style='font-size:16px;')
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Settings 
                span.caret
                span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-cog(style='font-size:16px;')
              ul.dropdown-menu.forAnimate(role='menu')
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
                li.divider
                li
                  a(href='#') One more separated link
  
  !=messages()
  .container.well
        ul.errors
            if errors
                each error, i in errors
                    li.alert.alert-danger #{error.msg}
        form.well(method='post', action='feedback', enctype="multipart/form-data")
          fieldset
            legend(align='center') Feeback Form
            .form-group
                label Course:
                select.form-control(name='number' type='text')
                   each course, i in courses
                      option.value(value='#{course.teacher}') #{course.number} ---> #{course.title} --> #{course.teacher}
            .form-group
                label Semester:
                input.form-control(name='semester', value='#{user.semester}', readonly, type='text')
            .form-group
                label Batch:
                input.form-control(name='batch', value='#{user.batch}', readonly, type='text')
            .form-group
                label.col-md-2.control-label(for='branch') Branch
                .col-md-10
                   input.form-control(name='branch', value='#{user.branch}', readonly, type='text')
            br
            br
            br
            br
            legend(align='center') Details
            .form-group
               label Punctuality
               select.form-control(name='punctuality', type='text')
                 option(value='5') Outstanding
                 option(value='4') Excellent
                 option(value='3') Good
                 option(value='2') Average
                 option(value='1') Poor
            .form-group
               label Delivery of lectures
               select.form-control(name='delivery', type='text')
                 option(value='5') Outstanding
                 option(value='4') Excellent
                 option(value='3') Good
                 option(value='2') Average
                 option(value='1') Poor
            .form-group
               label Invoking interest in subject
               select.form-control(name='interest', type='text')
                 option(value='5') Oustanding
                 option(value='4') Excellent
                 option(value='3') Good
                 option(value='2') Average
                 option(value='1') Poor
            .form-group
               label Help outside the class
               select.form-control(name='help', type='text')
                 option(value='5') Outstanding
                 option(value='4') Excellent
                 option(value='3') Good
                 option(value='2') Average
                 option(value='1') Poor
            .form-group
               label Practical aspects of subject
               select.form-control(name='practical', type='text')
                 option(value='5') Outstanding
                 option(value='4') Excellent
                 option(value='3') Good
                 option(value='2') Average
                 option(value='1') Poor
            .form-group
               label Quality of answers
               select.form-control(name='quality', type='text')
                 option(value='5') Outstanding
                 option(value='4') Excellent
                 option(value='3') Good
                 option(value='2') Average
                 option(value='1') Poor
          
            .form-group
                  label.col-md-2.control-label(for='textArea') Additional Feedback
                  .col-md-10
                  textarea#textArea.form-control(rows='3' name='text' , type='text')
                  span.help-block
                      | A longer block of help text that breaks onto a new line and may extend beyond one line.

            input.btn.btn-default(name='submit', type='submit', value='Save')
